<footer class="pt-5 pb-4">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-sm-center pb-4 mx-lg-3">
                <div class="mx-5 mx-sm-auto d-flex flex-column footer-links text-left">
                    <h5><strong>Camplify</strong></h5>
                    <a href="/">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a href="#">Support</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-sm-center pb-4 mx-lg-3">
                <div class="mx-5 mx-sm-auto d-flex flex-column footer-links text-left">
                    <h5><strong>Campgrounds</strong></h5>
                    <a href="/campgrounds?sort=recent">Most Recent</a>
                    <a href="/campgrounds?sort=rating">Highest Rated</a>
                    <a href="/campgrounds?sort=reviews">Most Reviewed</a>
                    <a href="/campgrounds?sort=favorited">Most Favorited</a>
                </div>
            </div>
            
        <% if (currentUser) { %>
            <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-sm-center pb-4 mx-lg-3">
                <div class="mx-5 mx-sm-auto d-flex flex-column footer-links text-left">
                    <h5><strong>My Account</strong></h5>                    
                    <a href="/users/<%= currentUser.username %>?tab=list-recent">Recent Activity</a>
                    <a href="/users/<%= currentUser.username %>?tab=list-campgrounds">Campgrounds</a>
                    <a href="/users/<%= currentUser.username %>?tab=list-reviews">Reviews</a>
                    <a href="/users/<%= currentUser.username %>?tab=list-favorites">Favorites</a>
                    <a href="/users/<%= currentUser.username %>?tab=list-settings">Settings</a>
                </div>
            </div>
            
        <% } else { %>
            <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-sm-center pb-4 mx-lg-3">
                <div class="mx-5 mx-sm-auto d-flex flex-column footer-links text-left">
                    <h5><strong>Account</strong></h5>
                    <a href="/users/new">Sign Up</a>
                    <a href="/login">Log In</a>
                    <a href="#">Settings</a>                       
                </div>
            </div>
        <% } %>
            
            <div class="col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-sm-center pb-4 mx-lg-3">
                <div class="mx-5 mx-sm-auto d-flex flex-column footer-links text-left">
                    <h5><strong>Resources</strong></h5>
                    <a href="#">GitHub</a>
                    <a href="#">Assets</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <small>2020 &copy; Camplify. All rights reserved.</small>
            </div>
        </div>
    </div>
    
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/scripts/script.js"></script>

</body>
</html>
