<!-- Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <img src="/images/icons/tent-solid-light.svg" class="mr-2" alt="">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
          
          <% if (currentUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/<%= currentUser.username %>?tab=list-recent">Recent Activity</a>
              <a class="dropdown-item" href="/users/<%= currentUser.username %>?tab=list-campgrounds">Campgrounds</a>
              <a class="dropdown-item" href="/users/<%= currentUser.username %>?tab=list-reviews">Reviews</a>  
              <a class="dropdown-item" href="/users/<%= currentUser.username %>?tab=list-favorites">Favorites</a>              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/<%= currentUser.username %>?tab=list-settings">Settings</a>
            </div>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Profile</a>
          </li>          
          <% } %>
        </ul>
    
        <ul class="navbar-nav">
            <% if (!currentUser) { %>
                <li>
                    <a href='/users/new'><button class="btn btn-outline-success mr-2 my-2 my-sm-0" type="submit">Sign Up</button></a>
                </li>
                <li>
                    <a href='/login'><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log In</button></a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link mr-2" href="/users/<%= currentUser.username %>">Signed in as <%= currentUser.username %></a>
                </li>
                <li>
                    <a href='/logout'><button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Log Out</button></a>
                </li>
            <% } %>
        </ul>
      </div>
  </div>
</nav>


<!-- Flash Messages -->

    <% if (error && error.length > 0) { %>

        <!-- Error Message Flash -->
        <div class="flash container fixed-top">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    <% } %>

    <% if (warning && warning.length > 0) { %>

        <!-- Warning Message Flash -->
        <div class="flash container fixed-top">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= warning %>
              <button type="button " class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    <% } %>

    <% if (success && success.length > 0) { %>

        <!-- Success Message Flash -->
        <div class="flash container fixed-top">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>

    <% } %>


