<h4 class="text-center py-2 d-md-none">Campgrounds</h4>
<% campgrounds.forEach( function (campground) { %>
        <div class="card mb-3 rounded-0 hover-shadow">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="<%= campground.image %>" class="card-img rounded-0" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body container-fluid d-flex flex-column justify-content-between h-100">

                    
                <div class="row justify-content-between">
                    <h5 class="card-title mb-0 col-12 col-sm-auto"><strong><%= campground.name %></strong></h5>
                    <div class="d-flex align-items-start text-center col-auto">
                        <span class="">
                            <span id="average-rating">
                                <% for (let i = 0; i < campground.averageRating; i++) { %>
                                    &#9733;
                                <% } %>
                            </span>
                            <small>
                                <% if (campground.commentCount) { %>
                                    <a href="/campgrounds/<%= campground._id %>/comments/">
                                <% } %>
                              <%= campground.commentCount ? ` ${campground.commentCount} `: "No " %>
                              <%= campground.commentCount === 1 ? "Review": "Reviews" %>
                                <% if (campground.commentCount) { %>
                                    </a>
                                <% } %>
                            </small>
                        </span>
                        <form class="favorite-form d-flex align-items-center text-center ml-2" action='/campgrounds/<%= campground._id %>/favorites'>
                            <input class="favorite-btn <%= (currentUser && currentUser.campFavs.find(campFav => campFav.campID.equals(campground._id))) ? "favorited" : "unfavorited" %>" type="submit" value="">
                            <span class="ml-2 mb-1 d-flex"><small class="count"><%= campground.userFavs.length %></small></span>
                        </form>
                    </div>
                </div>
                
                <div class="row">
                    <p class="col-12 card-text my-2">
                        <% let words = campground.description.split(" "); %>
                        <% let limit = 30; %>
                        <% for (let i = 0; i < limit; i++) { %>
                            <%= (i === (limit - 1) && (words.length > limit)) ? `${words[i]}...` : words[i] %>
                        <% } %>
                    </p>                
                </div>


                
                <div class="row justify-content-between">
                  <p class="card-text col-auto mt-auto mb-0"><small class="text-muted"><em>Submitted <%= moment(campground.createdAt).fromNow() %></em></small></p>
                  <a href='/campgrounds/<%= campground._id %>' class="btn green-btn card-link px-4 py-1 ml-auto mr-3 mt-2 rounded-0 col-auto">View<span class="d-none d-sm-inline">&nbsp;Campground</span></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
<% }) %>

<!-- Index Pagination -->
<nav class="page-navigation" aria-label="Page navigation">
    <% if (maxPage && maxPage > 1) { %>
        <ul class="pagination justify-content-center">

        <!-- First Page button (disabled if on first page) -->
        <% if (currentPage == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
            <li><a class="page-link" data-page-number="1" href="#">First</a></li>
        <% } %>

        <!-- Previous Page button (disabled if on first page) -->
        <% if (currentPage == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
        <% } else { %>
            <li><a class="page-link" data-page-number="<%= currentPage - 1 %>" href="#">«</a></li>
        <% } %>

        <!-- Previous pages ellipses (if there are 5+ previous pages) -->
        <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>

        <!-- Display up to 9 page links (up to 4 before, current, and 4 after) -->
        <% for (; i <= (Number(currentPage) + 4) && i <= maxPage; i++) { %>
            <% if (i == currentPage) { %>
                <li class="active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
                <li><a class="page-link" data-page-number="<%= i %>" href="#"><%= i %></a></li>
            <% } %>
        <% } %>

        <!-- Next pages ellipses (if there are 5+ subsequent pages) -->
        <% if (maxPage > Number(currentPage) + 4) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>

        <!-- Next page button (disabled if on the last page) -->
        <% if (currentPage == maxPage) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
        <% } else { %>
            <li><a class="page-link" data-page-number="<%= currentPage + 1 %>" href="#">»</a></li>
        <% } %>

        <!-- Last page button (disabled if on the last page) -->
        <% if (currentPage == maxPage) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
            <li><a class="page-link" data-page-number="<%= maxPage %>" href="#">Last</a></li>
        <% } %>

    </ul>
    <% } %>
</nav>