<form id="settings-form" action="/users/<%= user.username %>?_method=PUT" method="POST" enctype="multipart/form-data">
<div class="accordion mx-auto" id="settings-form">

<h2 id="settings-header" class="text-center">Settings<span id="settings-success" class="ml-3 d-none">&check;</span></h2>
  
  <div class="card container-fluid border-0">
    <div class="card-header row align-items-center align-text-middle bg-transparent">
      <p class="col-3 m-0"><strong>Profile Picture</strong></p>
      <p class="col-5 m-0"></p>
      <h2 class="col-4 mb-0 text-right">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#profile-picture" aria-expanded="true" aria-controls="Show profile picture settings">
          Change Profile Picture
        </button>
      </h2>
    </div>
    <div id="profile-picture" class="collapse row justify-content-center border-bottom" aria-labelledby="Profile picture settings" data-parent="#settings-form">
      <div class="card-body col-8">
            <div class="form-group">
              <label for="imageURL">Enter Image URL</label>
              <div class="input-group">
              <input type="text" class="form-control" name="imageURL" id="imageURL" placeholder="Image URL" autocomplete="on">  
                  <div class="input-group-append">
                    <span class="input-group-text">URL</span>
                  </div>                  
              </div>
            </div>
            <p class="text-center mb-0"><strong>OR</strong></p>
            <div class="form-group">
              <label for="image-upload">Upload Image</label>
              <div id="image-upload" class="custom-file">
                  <input type="file" class="custom-file-input form-control-file"
                  id="image" name="image" accept="image/jpeg, image/png, image/jpg, image/gif">
                  <label class="custom-file-label" for="image">Choose file</label>
                  <small id="fileHelp" class="form-text">Supported file extensions: .png, .jpg, .jpeg, .gif</small>
                  <div class="invalid-tooltip">Please select a valid image file extension.</div>
                </div>

            </div>
      </div>
    </div>
  </div>
  
    
  <div class="card container-fluid border-0">
    <div class="card-header row align-items-center align-text-middle bg-transparent">
      <p class="col-3 m-0"><strong>Profile Visibility</strong></p>
      <p class="col-5 m-0 setting-status">
        <% if (user.settings.profileVisibility === "public") { %>
            Public - Anyone can see your profile
        <% } else if (user.settings.profileVisibility === "private") { %>
            Private - Only you can see your profile
        <% } %>
      </p>
      <h2 class="col-4 mb-0 text-right">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#profile-visibility" aria-expanded="true" aria-controls="Show profile visibility options">
          Change Profile Visibility
        </button>
      </h2>
    </div>
    <div id="profile-visibility" class="collapse row justify-content-center border-bottom" aria-labelledby="Profile visibility options" data-parent="#settings-form">
      <div class="card-body col-6">
        <div class="form-check">
          <input class="form-check-input" type="radio"
                 name="profileVisibility"
                 id="visibility-public" value="public"
                 <%= (user.settings.profileVisibility === "public") ? 'checked' : '' %>>                             
          <label class="form-check-label" for="visibility-public">
            Public - Anyone can see your profile
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"
                 name="profileVisibility"
                 id="visibility-private" value="private"
                 <%= (user.settings.profileVisibility === "private") ? 'checked' : '' %>>
          <label class="form-check-label" for="visibility-private">
            Private - Only you can see your profile
          </label>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="card container-fluid border-0">
    <div class="card-header row align-items-center align-text-middle bg-transparent">
      <p class="col-3 m-0"><strong>Email Address</strong></p>
      <p class="col-5 m-0 setting-status" data-default="<%= user.email ? user.email : ""%>"><%= user.email ? user.email : ""%></p>
      <h2 class="col-4 mb-0 text-right">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#email-settings" aria-expanded="false" aria-controls="Show email settings">
          Change Email Address
        </button>
      </h2>
    </div>
    <div id="email-settings" class="collapse row justify-content-center border-bottom" aria-labelledby="Email Settings" data-parent="#settings-form">
      <div class="card-body col-8">
          <div class="form-group">
            <label for="new-email">New Email address</label>
            <input type="email" class="form-control" id="new-email" aria-describedby="new email" autocomplete="on">
          </div>          
          <div class="form-group">
            <label for="confirm-email">Confirm Email address</label>
            <input type="email" class="form-control" id="confirm-email" aria-describedby="confirm email" autocomplete="on">
            <div class="invalid-tooltip">Email addresses must match</div>
          </div>            
      </div>
    </div>
  </div>


  <div class="card container-fluid border-0">
    <div id="password-settings-header" class="card-header row align-items-center align-text-middle bg-transparent">
      <p class="col-3 m-0"><strong>Password</strong></p>
      <p class="col-5 m-0 setting-status" data-default="Last changed <%= moment(user.passwordChangeDate).fromNow() %>">Last changed <%= moment(user.passwordChangeDate).fromNow() %></p>
      <h2 class="col-4 mb-0 text-right">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#password-settings" aria-expanded="false" aria-controls="Show password settings">
          Change Password
        </button>
      </h2>
    </div>
    <div id="password-settings" class="collapse row justify-content-center border-bottom" aria-labelledby="Email Settings" data-parent="#settings-form">
      <div class="card-body col-6">
          <div class="form-group">
            <label for="current-password">Current Password</label>
            <input type="password" class="form-control" name="password" id="current-password" aria-describedby="new email" autocomplete="off">
            <div class="invalid-tooltip">Incorrect password</div>
          </div>
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input type="password" class="form-control" name="newPassword" id="new-password" aria-describedby="new email" autocomplete="off">
            <div class="invalid-tooltip">New password cannot be the same as current password</div>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirm-password" aria-describedby="confirm email" autocomplete="off">
            <div class="invalid-tooltip">New password must match</div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="form-group form-row justify-content-center mt-5">
    <div class="col-sm-3">
      <button type="reset" class="btn btn-secondary btn-block">Reset Changes</button>
    </div>
    <div class="col-sm-3">
      <button id="settings-submit" type="submit" class="btn btn-success btn-block">Save Changes</button>
    </div>
  </div>
  
  
</div>
  
</form>
