<ul class="list-group">
    <% recentActivities.forEach( function(activity) { %>
    
        <% if (activity.docType === 'campFav') { %>
            <li class="list-group-item container-fluid">
                <div class="row">
                    <div class="col-auto">
                        <img class="rounded" src="<%= activity.campID.image %>" alt="Image of <%= activity.campID.name %>">
                    </div>
                    <div class="col container-fluid d-flex flex-column justify-content-between">
                        <div class="row">
                            <div class="col text-left">
                                <h5><strong><%= user.username %> favorited <em><%= activity.campID.name %></em></strong></h5>
                            </div>
                            <div class="col text-right">
                                <small><em><%= moment(activity.createdAt).fromNow() %></em></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small><em>Heart icon goes here</em></small>
                            </div>                               
                            <div class="col text-right">
                                <a href='/campgrounds/<%= activity.campID._id %>' class="btn new-btn card-link px-4">View Campground</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </li>
        
        <% } else if (activity.docType === 'campground') { %>
            <li class="list-group-item container-fluid">
                <div class="row">
                    <div class="col-auto">
                        <img class="rounded" src="<%= activity.image %>" alt="Image of <%= activity.name %>">
                    </div>
                    <div class="col container-fluid d-flex flex-column justify-content-between">
                        <div class="row">
                            <div class="col text-left">
                                <h5><strong><%= user.username %> posted <em><%= activity.name %></em></strong></h5>
                            </div>
                            <div class="col text-right">
                                <small><em><%= moment(activity.createdAt).fromNow() %></em></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small><em>Post icon goes here</em></small>
                            </div>                               
                            <div class="col text-right">
                                <a href='/campgrounds/<%= activity._id %>' class="btn new-btn card-link px-4">View Campground</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </li>
            
        <% } else if (activity.docType === 'comment') { %>
            <li class="list-group-item container-fluid">
                <div class="row">
                    <div class="col-auto">
                        <img class="rounded" src="<%= activity.campground.image %>" alt="Image of <%= activity.campground.name %>">
                    </div>
                    <div class="col container-fluid d-flex flex-column justify-content-between">
                        <div class="row">
                            <div class="col text-left">
                                <h5><strong><%= user.username %> reviewed <em><%= activity.campground.name %></em></strong></h5>
                            </div>
                            <div class="col text-right">
                                <small><em><%= moment(activity.createdAt).fromNow() %></em></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small><em>Review stars go here</em></small>
                            </div>                            
                            <div class="col text-right">
                                <a href='/campgrounds/<%= activity.campground._id %>' class="btn new-btn card-link px-4">View Campground</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </li>
            
        <% } else { %>
            <li class="list-group-item">Nothing Found!</li>
        <% } %>
    
    <% }); %>
</ul>