<% include ../partials/header %>
<% include ../partials/navbar %>

<main>
<div id="index-container" class="container">

    <!-- Index Header -->
    <div id="index-header" class="container my-0 my-md-4 py-0">
      <div class="row justify-content-center pb-3">
          <div class="col-6 col-sm-auto d-flex justify-content-center">
              <img id="index-logo" src="/images/icons/tent-solid.svg" alt="">              
          </div>
          <div class="col-sm-auto d-flex flex-column justify-content-center text-center">
              <h1 class="display-4 header">Camplify</h1>
              <p class="lead m-0">Your adventure starts here</p>
          </div>
      </div>
      
    <!-- Index Sort Buttons -->
    <hr id="campgrounds-index">
    <div class="row justify-content-between pt-0">
        
        <div class="col-12 col-sm-auto pt-1 pb-3 py-sm-0 text-center">
            <h3 class="m-0">All Campgrounds</h3>
        </div>
        
        <div class="col-12 col-sm-auto d-flex justify-content-between p-0">
            <a class="btn blue-btn btn-md mr-3 round" href="/campgrounds/new" role="button">
                <img src="/images/icons/plus-black-symbol.svg" class="mr-2">
                <span> New<span class="d-none d-md-inline"> Campground</span></span>
            </a>            
            <div>
              <a class="btn grey-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= sortName[sortQuery] %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="<%= queryString({sort: 'recent', page: current}) %>#campgrounds-index">Most Recent</a>
                <a class="dropdown-item" href="<%= queryString({sort: 'rating', page: current}) %>#campgrounds-index">Highest Rated</a>
                <a class="dropdown-item" href="<%= queryString({sort: 'reviews', page: current}) %>#campgrounds-index">Most Reviewed</a>
                <a class="dropdown-item" href="<%= queryString({sort: 'favorited', page: current}) %>#campgrounds-index">Most Favorited</a>
              </div>
            </div>
        </div>


    </div>


    </div>
    
    <div class="row mt-3 mt-md-0">

        <!-- Campground Card -->
        <% campgrounds.forEach((campground) => { %>
            <div class="campground-index-card col-lg-4 col-md-6 mb-4">
                <div class="card h-100 hover-shadow rounded-0">
                    <div class="image-container">
                       <img class="card-img-top camp-index-img rounded-0" src="<%= campground.image %>">
                        <div class="image-overlay-bottom w-100 pt-5 px-3 pb-2">
                            <h4 class="camp-index-title align-top m-0 flex-grow-1"><%= campground.name%></h4>
                        </div>
                    </div>
                    <div class="card-header camp-index-header d-flex px-3 py-2 justify-content-between">
                        
                            <span class="d-flex align-items-center">
                                <% if (!campground.commentCount) { %>
                                    <em>No rating</em>
                                <% } else {%>
                                    <% for (let i = 0; i < Math.round(campground.averageRating); i++) { %>
                                        <div class="review-star fill"></div>
                                    <% } %>
                                    &nbsp;
                                    (<a href="/campgrounds/<%= campground._id %>/comments"><%= campground.commentCount %></a>)
                                <% } %>
                            </span>
                            <form class="favorite-form d-flex align-items-center p-0" action='/campgrounds/<%= campground._id %>/favorites'>
                                <span class="mr-1 align-top"><strong class="count"><%= campground.userFavs.length %></strong></span>
                                <input class="favorite-btn <%= (currentUser && currentUser.campFavs.find(campFav => campFav.campID.equals(campground._id))) ? "favorited" : "unfavorited" %>" type="submit" value="">
                            </form>  
                        
                        
                    </div>
                    <div class="card-body camp-index-body text-center mx-2 mt-0 pt-0 d-flex flex-column justify-content-between">

                        <p class="card-text text-left">
   
                            <% let words = campground.description.split(" "); %>
                            <% let limit = 15; %>
                            <% for (let i = 0; i < limit; i++) { %>
                                <%= (i === (limit - 1) && (words.length > limit)) ? `${words[i]}...` : words[i] %>
                            <% } %>

                        </p>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href='/campgrounds/<%= campground._id %>' class="btn green-btn card-link px-4">More Info</a>
                        </div>

                    </div>
                </div>
            </div>
        <% }) %>

    </div>

    <!-- Index Pagination -->
    <nav aria-label="Page navigation">
        <% if (pages && pages > 1) { %>
            <ul class="pagination justify-content-center">

            <!-- First Page button (disabled if on first page) -->
            <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
                <li><a class="page-link" href="<%= queryString({sort: sortQuery, page: 1}) %>#campgrounds-index">First</a></li>
            <% } %>

            <!-- Previous Page button (disabled if on first page) -->
            <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
                <li><a class="page-link" href="<%= queryString({sort: sortQuery, page: (Number(current) - 1)}) %>#campgrounds-index">
                «</a></li>
            <% } %>

            <!-- Previous pages ellipses (if there are 5+ previous pages) -->
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>

            <!-- Display up to 9 page links (up to 4 before, current, and 4 after) -->
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li><a class="page-link" href="<%= queryString({sort: sortQuery, page: i}) %>#campgrounds-index"><%= i %></a></li>
                <% } %>
            <% } %>

            <!-- Next pages ellipses (if there are 5+ subsequent pages) -->
            <% if (pages > Number(current) + 4) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>

            <!-- Next page button (disabled if on the last page) -->
            <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
                <li><a class="page-link" href="<%= queryString({sort: sortQuery, page: (Number(current) + 1)}) %>#campgrounds-index">»</a></li>
            <% } %>

            <!-- Last page button (disabled if on the last page) -->
            <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
                <li><a class="page-link" href="<%= queryString({sort: sortQuery, page: pages}) %>#campgrounds-index">Last</a></li>
            <% } %>

        </ul>
        <% } %>
    </nav>

</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered align-items-center justify-content-center" role="document">
    <div class="modal-content ">
        <div id="login" class="mx-4 mt-4 mb-3">
            <div class="align-items-center justify-content-center">
                <form class="text-center" action="/login" method="POST">
                    <button type="button" class="close align-middle" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="/images/icons/tent-solid.svg" alt="">
                    <h3 class="mt-1 mb-0">Log In</h1>
                    <div id="login-modal-error-msg" class="text-danger"></div>
                    <div class="mt-1">
                        <div class="form-group mb-4">
                            <input class="form-control shadow-none" type="text" name="username" placeholder="Username">
                            <input class="form-control shadow-none border-top-0" type="password" name="password" placeholder="Password">
                        </div>
                        <button class="btn green-btn btn-block mt-1">Log In</button>
                        <p class="mb-0 mt-3">New user? <a href="/users/new" class="text-success">Create an account</a></p>
                    </div>
                </form>
            </div>
        </div>      
    </div>
  </div>
</div>
</main>

<% include ../partials/footer %>