<% include ../partials/header %>
<% include ../partials/navbar %>

<main>
<div class="container mt-5">
  <div class="row">

  <!-- Campground Info -->
    <div class="col-12 col-lg-8 col-xl-9 pb-3 pb-lg-0">
      <div class="card rounded-0">
        <div class="image-container">
          <img src="<%= campground.image %>" class="camp-show-img card-img-top rounded-0">
            
          <!-- Card Header -->
          <div class="container-fluid image-overlay-bottom pb-2 pt-5 d-none d-sm-block">
            <div class="row justify-content-between w-100 m-0">
              <div class="col-12 col-sm-auto p-0 text-center mb-0">
                <h2 class="m-0"><strong><%= campground.name %></strong></h2>
              </div>
              <div class="col-auto d-flex p-0 align-items-center mx-auto mx-sm-0">
                <span id="average-rating" class="d-flex align-items-center mr-2">
                  <% if (campground.reviewCount) { %>
                    <% for (let i = 0; i < campground.averageRating; i++) { %>
                      <div class="review-star fill"></div>
                    <% } %>
                    &nbsp;
                    (<%= campground.reviewCount %>)
                  <% } else { %>
                    No Reviews
                  <% } %>                                                                   
                </span>
                <form class="favorite-form d-flex align-items-center text-center ml-2" action='/campgrounds/<%= campground._id %>/favorites'>
                    <input class="favorite-btn <%= (currentUser && currentUser.campFavs.find(campFav => campFav.campID.equals(campground._id))) ? "favorited" : "unfavorited" %>" type="submit" value="">
                    <span class="ml-1 "><strong><%= campground.userFavs.length %></strong></span>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Card Header -->
        <div class="card-header container-fluid d-block d-sm-none">
          <div class="row justify-content-between w-100 m-0">
            <div class="col-12 col-lg-auto p-0 text-center mb-2 mb-lg-0">
                <h4 class="m-0"><strong><%= campground.name %></strong></h4>
            </div>
            <div class="col-auto d-flex flex-nowrap p-0 align-items-center mx-auto mx-lg-0">
              <span>
                <span class="d-flex align-items-center">
                  <% if (campground.reviewCount) { %>
                    <% for (let i = 0; i < campground.averageRating; i++) { %>
                      <div class="review-star fill"></div>
                    <% } %>
                    &nbsp;
                    (<%= campground.reviewCount %>)
                  <% } else { %>
                    No Reviews
                  <% } %>
                </span>
              </span>
              <form class="favorite-form d-flex align-items-center text-center ml-2" action='/campgrounds/<%= campground._id %>/favorites'>
                <input class="favorite-btn <%= (currentUser && currentUser.campFavs.find(campFav => campFav.campID.equals(campground._id))) ? "favorited" : "unfavorited" %>" type="submit" value="">
                <span class="ml-2 "><%= campground.userFavs.length %></span>
              </form>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body py-3">
          <p class="card-text"><%= campground.description %></p>
          <div class="d-flex">
            <div class="ml-auto d-flex align-items-center">
              <small class="card-text text-muted"><em>Submitted by <%= campground.author.username %> <%= moment(campground.createdAt).fromNow() %></em></small>
              <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
              <div class="dropdown">
                <button class="btn options-btn ml-2" type="button" data-toggle="dropdown"></button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href='/campgrounds/<%= campground._id %>/edit'>Edit</a>
                  <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteModel">
                    Delete
                  </button>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-12 col-lg-4 col-xl-3 d-flex flex-column">
        <ul class="list-group ">
            <li class="list-group-item">
                <strong>Author:</strong> <a href="/users/<%= campground.author.username %>"><%= campground.author.username %></a>
            </li>
            <li class="list-group-item">
                <strong>Price:</strong> $<%= campground.price %>/night
            </li>
            <li class="list-group-item text-left rounded-0"><strong>Location:</strong> <%= campground.location %></li>
        </ul>
        <div id="map" class="border border-top-0 flex-grow-1"></div>
    </div>
  </div>

  <div class="row">
      
  <!-- Reviews -->
  <div class="col-lg-8 col-xl-9">
    <div id="reviews-section" class="card mt-3 rounded-0">
      <div class="card-header align-items-middle container-fluid">
        <div class="row justify-content-between align-items-center">
          <h4 class="pl-3 m-0"><strong>Reviews</strong></h4>
          <% let alreadyReviewed = false; %>
          <% campground.reviews.forEach((review) => {if (currentUser && review.author.id.equals(currentUser._id)){ alreadyReviewed = true; }}); if (!alreadyReviewed) { %>
            <button type="button" class="d-flex btn blue-btn round mr-2" data-toggle="modal" data-target="#new-review-modal">
              <span class="new-review-icon mr-1"></span>
              Write a Review
            </button>
          <% } %>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <% for (let i = 0; i < campground.reviews.length && i < 5; i++){ %>
          <% let review = campground.reviews[i]; %>                               
          <li class="list-group-item campground-review">
            <div class="row px-3 justify-content-between">
              <div class="col-auto p-0 d-flex">
                <img src="<%= review.author.id.image %>" class="mr-3">
                <div class="d-flex flex-column flex-shrink-0 justify-content-between">
                  <h5 class="d-inline pl-1"><strong><a href="/users/<%= review.author.username %>"><%= review.author.username %></a></strong></h5>
                  <span class="d-flex">
                    <% for (let i = 0; i < review.rating; i++) { %>
                      <div class="review-star fill"></div>
                    <% } %>
                  </span>
                </div>
              </div>
              <div class="col-12 col-sm-auto d-flex p-0">
                  <small class="d-flex pt-1 flex-shrink-1 text-muted"><%= moment(review.createdAt).fromNow() %></small>
                  <% if (currentUser && review.author.id.equals(currentUser._id)) { %>
                    <div class="dropdown">
                      <button class="btn options-btn ml-2" type="button" data-toggle="dropdown"></button>
                      <div class="dropdown-menu">
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#edit-review-modal">
                          Edit Review
                        </button>
                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#delete-review-modal">
                          Delete Review
                        </button>
                      </div>
                    </div>
                      
                      <!-- Edit Review Modal -->
                      <div class="modal fade" id="edit-review-modal" tabindex="-1" role="dialog" aria-labelledby="Edit review modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title font-weight-bold">Edit Review for <%= campground.name %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form class="container" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
                                <div class="row justify-content-center align-items-center mb-2">
                                  <span class="m-0 col-12 text-center font-weight-bold">Rating (1-5)</span>
                                  <div class="col-auto form-group d-flex flex-row-reverse m-0">
                                    <input class="rating-input" id="star-5" type="radio" name="review[rating]" value="5" <%= (review.rating === 5) ? "checked": "" %>>
                                    <label class="rating-label" for="star-5"></label>        
                                    <input class="rating-input" id="star-4" type="radio" name="review[rating]" value="4" <%= (review.rating === 4) ? "checked": "" %>>
                                    <label class="rating-label" for="star-4"></label>
                                    <input class="rating-input" id="star-3" type="radio" name="review[rating]" value="3" <%= (review.rating === 3) ? "checked": "" %>>
                                    <label class="rating-label" for="star-3"></label>      
                                    <input class="rating-input" id="star-2" type="radio" name="review[rating]" value="2" <%= (review.rating === 2) ? "checked": "" %>>
                                    <label class="rating-label" for="star-2"></label> 
                                    <input class="rating-input" id="star-1" type="radio" name="review[rating]" value="1" <%= (review.rating === 1) ? "checked": "" %>>
                                    <label class="rating-label" for="star-1"></label>
                                  </div>            
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <textarea class="form-control" name="review[text]" id="review-text" maxlength="1500"
                                          rows="4" placeholder="Describe your experience at <%= campground.name %>"><%= review.text %></textarea>                
                                    </div>
                                </div>
                                <div class="row mt-3 justify-content-center">
                                  <button type="button" class="btn grey-btn col-3 mr-3" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn green-btn col-4">Submit Review</button>           
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!-- Delete Review Modal -->
                      <div class="modal fade" id="delete-review-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModelLabel">Delete Review</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              This action cannot be undone. Do you wish to continue?
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn grey-btn mr-3" data-dismiss="modal">Cancel</button>
                                <form class=" delete-form"
                                  action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                  method="POST">
                                  <button class="btn btn-danger rounded">Delete Review</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                  <% } %>                                                
              </div>
            </div>
            <p class="mb-0 mt-2"><%= review.text %></p>
          </li>
        <% } %>
          
        <% if (campground.reviews.length >= 5) { %>
        <li class="list-group-item text-center">
          <a href="/campgrounds/<%= campground._id %>/reviews/"><h5>See All Reviews</h5></a>
        </li>
        <% } %>
      </ul>              
    </div>
  </div>
  </div>
</div>

<script>
  function initMap() {
    const lat = <%= campground.lat %>,
          long = <%= campground.long %>,
          center = {lat: lat, lng: long },
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: center,
            scrollwheel: false,
            streetViewControl: false,
          }),
          contentString =
            `<strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>`,
          infowindow = new google.maps.InfoWindow({
            content: contentString
          }),
          marker = new google.maps.Marker({
            position: center,
            map: map
          });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCODv1xY28AoyCZZU3U2yLWirTRc6PJ3_c&callback=initMap"></script>
</main>
<% include ../partials/login-modal %>
<% include ../partials/new-review-modal %>
<% include ../partials/delete-campground-modal %>
<% include ../partials/footer %>