<% include ../partials/header %>
<% include ../partials/navbar %>

<main>
<div class="container mt-5">
    <div class="row">
        

        
    <!-- Campground Info -->
        <div class="col-12 col-lg-8 col-xl-9 pb-3 pb-lg-0">
            
            <div class="card rounded-0">
                <div class="image-container">
                    <img src="<%= campground.image %>" class="card-img-top rounded-0">
                    <!-- Card Header -->
                    <div class="container-fluid image-overlay-bottom pb-2 pt-5 d-none d-sm-block">
                        <div class="row justify-content-between w-100 m-0">
                            <div class="col-12 col-sm-auto p-0 text-center mb-0">
                                <h2 class="m-0"><strong><%= campground.name %></strong></h2>
                            </div>
                            <div class="col-auto d-flex p-0 align-items-center mx-auto mx-sm-0">
                                <span>
                                    <span id="average-rating">
                                        <% for (let i = 0; i < campground.averageRating; i++) { %>
                                            &#9733;
                                        <% } %>
                                    </span>
                                    <span>
                                        <% if (campground.commentCount) { %>
                                            (<a href="/campgrounds/<%= campground._id %>/comments/">
                                                <%= campground.commentCount %>
                                            </a>)
                                        <% } else { %>
                                                No Reviews
                                        <% } %>
                                    </span>
                                </span>

                                <form class="favorite-form d-flex align-items-center text-center ml-2" action='/campgrounds/<%= campground._id %>/favorites'>
                                    <input class="favorite-btn <%= (currentUser && currentUser.campFavs.find(campFav => campFav.campID.equals(campground._id))) ? "favorited" : "unfavorited" %>" type="submit" value="">
                                    <span class="ml-1 "><strong><%= campground.userFavs.length %></strong></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Card Header -->
                <div class="card-header light-green container-fluid d-block d-sm-none">
                    <div class="row justify-content-between w-100 m-0">
                        <div class="col-12 col-lg-auto p-0 text-center mb-2 mb-lg-0">
                            <h4 class="m-0"><strong><%= campground.name %></strong></h4>
                        </div>
                        <div class="col-auto d-flex p-0 align-items-center mx-auto mx-lg-0">
                            <span>
                                <span id="average-rating">
                                    <% for (let i = 0; i < campground.averageRating; i++) { %>
                                        &#9733;
                                    <% } %>
                                </span>
                                <span>
                                    <% if (campground.commentCount) { %>
                                        <a href="/campgrounds/<%= campground._id %>/comments/">
                                    <% } %>
                                  <%= campground.commentCount ? ` ${campground.commentCount} `: "No " %>
                                  <%= campground.commentCount === 1 ? "Review": "Reviews" %>
                                    <% if (campground.commentCount) { %>
                                        </a>
                                    <% } %>
                                </span>
                            </span>

                            <form class="favorite-form d-flex align-items-center text-center ml-2" action='/campgrounds/<%= campground._id %>/favorites'>
                                <input class="favorite-btn <%= (currentUser && currentUser.campFavs.find(campFav => campFav.campID.equals(campground._id))) ? "favorited" : "unfavorited" %>" type="submit" value="">
                                <span class="ml-2 "><%= campground.userFavs.length %></span>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body py-3">
                    <p class="card-text"><%= campground.description %></p>
                    <div class="d-flex">
                        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a class="btn btn-info" href='/campgrounds/<%= campground._id %>/edit'><img src="/images/icons/pencil.svg" width="15" height="15" alt=""> Edit</a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModel">
                                    <img src="/images/icons/trash.svg" width="15" height="15" alt=""> Delete
                                </button>
                            </div>
                        <% } %>
                        <div class="ml-auto align-text-bottom">
                            <small class="card-text text-muted align-bottom" style="line-height: 100%"><em>Submitted by <%= campground.author.username %> <%= moment(campground.createdAt).fromNow() %></em></small>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

     <!-- Sidebar -->
        <div class="col-12 col-lg-4 col-xl-3 d-flex flex-column">
            <ul class="list-group ">
<!--                <li class="list-group-item rounded-0 light-green">-->
<!--                  <h3><%= campground.name %></h3>-->
<!--                </li>-->
                <li class="list-group-item">
                    <strong>Author:</strong> <a href="/users/<%= campground.author.username %>"><%= campground.author.username %></a>
                </li>
                <li class="list-group-item">
                    <strong>Price:</strong> $<%= campground.price %>/night
                </li>
                <li class="list-group-item text-left rounded-0"><strong>Location:</strong> <%= campground.location %></li>
            </ul>
            <div id="map" class="border border-top-0 flex-grow-1"></div>
        </div>

    </div>

    <div class="row">
        
    <!-- Reviews -->
        <div class="col-md-8 col-lg-9">
            <div id="reviews-section" class="card mt-3 rounded-0">
                    <div class="card-header align-items-middle container-fluid light-green">
                        <div class="row justify-content-between align-items-center">
                            <h5 class="pl-3 m-0">Reviews</h5>
                            <% let alreadyReviewed = false; %>
                            <% campground.comments.forEach((comment) => {if (currentUser && comment.author.id.equals(currentUser._id)){ alreadyReviewed = true; }}); if (!alreadyReviewed) { %>
                                <a class="btn new-btn rounded-pill btn-md mr-3" href="/campgrounds/<%= campground._id %>/comments/new">
                                    <img src="/images/icons/plus-black-symbol.svg" class="align-self-center mr-2" alt=""> Add New Review
                                </a>
                            <% } %>
                        </div>
                    </div>
                            <ul class="list-group list-group-flush">

                                <% for (let i = 0; i < campground.comments.length && i < 3; i++){ %>
                                    <li class="list-group-item">
                                        
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h6 class="d-inline">
                                                <% let comment = campground.comments[i]; %>
                                                <%= comment.author.username %>
                                                    <span class=ml-2>
                                                        <% for (let i = 0; i < comment.rating; i++) { %>
                                                            &#9733;
                                                        <% } %>
                                                    </span>
                                            </h6>
                                            </div>

                                            <div>
                                                
                                                <small><%= moment(comment.createdAt).fromNow() %></small>
                                                                                      
                                            </div>
                                        </div>
                                        <p class="mb-0 mt-1"><%= comment.text %></p>
                                            
                                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                            <div class="btn-group btn-group-sm mt-2 float-left" role="group" aria-label="">
                                                <a class="btn btn-info"
                                                   href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                                   <img src="/images/icons/pencil.svg" width="15" height="15" alt=""> Edit
                                                </a>
                                                <form class=" delete-form"
                                                      action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                                      method="POST">
                                                    <button class="btn btn-sm btn-danger"><img src="/images/icons/trash.svg" width="15" height="15" alt=""> Delete</button>
                                                </form>
                                            </div>
                                        <% } %>

                                    </li>
                                <% } %>
                            <li class="list-group-item text-center">
                                <a href="/campgrounds/<%= campground._id %>/comments/"><h5>See All Reviews</h5></a>
                            </li>

                            </ul>

                            
                        </div>
        </div>

    </div>
</div>


<!-- Delete Campground Modal -->
<div class="modal fade " id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete <%= campground.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deleting this campground will permanently delete all associated data, including reviews, images, and descriptions. This action cannot be undone. Do you wish to continue?
      </div>
      <div class="modal-footer ">
          <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
          <form class="delete-form text-center mr-auto" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete Campground">
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered align-items-center justify-content-center" role="document">
    <div class="modal-content ">
        <div id="login" class="mx-4 mt-4 mb-3">
            <div class="align-items-center justify-content-center">
                <form class="text-center" action="/login" method="POST">
                    <button type="button" class="close align-middle" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="/images/icons/tent-solid.svg" alt="">
                    <h3 class="mt-1 mb-0">Log In</h1>
                    <div id="login-modal-error-msg" class="text-danger"></div>
                    <div class="mt-1">
                        <div class="form-group mb-4">
                            <input class="form-control shadow-none" type="text" name="username" placeholder="Username">
                            <input class="form-control shadow-none border-top-0" type="password" name="password" placeholder="Password">
                        </div>
                        <button class="btn new-btn btn-block mt-1">Log In</button>
                        <p class="mb-0 mt-3">New user? <a href="/users/new" class="text-success">Create an account</a></p>
                    </div>
                </form>
            </div>
        </div>      
    </div>
  </div>
</div>
</main>

<script>
  function initMap() {
    const lat = <%= campground.lat %>,
          long = <%= campground.long %>,
          center = {lat: lat, lng: long },
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 6,
              center: center,
              scrollwheel: false,
              streetViewControl: false,

          }),
          contentString =
              `<strong><%= campground.name %><br />
              <%= campground.location %></strong>
              <p><%= campground.description %></p>`,
          infowindow = new google.maps.InfoWindow({
              content: contentString
          }),
          marker = new google.maps.Marker({
              position: center,
              map: map
          });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCODv1xY28AoyCZZU3U2yLWirTRc6PJ3_c&callback=initMap"></script>


<% include ../partials/footer %>