<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container mt-2">
    <div class="row">
        
    <!-- Sidebar -->
        <div class="col-md-3">

            <div id="map"></div>
        </div>
        
    <!-- Campground Info -->
        <div class="col-md-9">
            
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top">

                <!-- Card Header -->
                <div class="card-header space-between">
                    <a class="lead" href=""><strong><%= campground.name %></strong></a>
                    <div>
                        <span>$<%= campground.price %>/night</span>
                        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <div class="btn-group btn-group-sm ml-3" role="group" aria-label="Basic example">
                                <a class="btn btn-info" href='/campgrounds/<%= campground._id %>/edit'><img src="/images/icons/pencil.svg" width="15" height="15" alt=""></a>
                                <button type="button" class="btn btn-danger user-button" data-toggle="modal" data-target="#deleteModel">
                                    <img src="/images/icons/trash.svg" width="15" height="15" alt="">
                                </button>
                            </div>
                        <% } %>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body py-3">
                    <p>
                        <span>
                            <% for (let i = 0; i < campground.averageRating; i++) { %>
                                &#9733;
                            <% } %>
                        </span>
                        <small>
                          <%= campground.commentCount ? ` - ${campground.commentCount} `: "No " %>
                          <%= campground.commentCount === 1 ? "Review": "Reviews" %>
                        </small>
                    </p>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text text-right"><small class="text-muted"><em>Submitted by <%= campground.author.username %> <%= moment(campground.createdAt).fromNow() %></em></small></p>
                </div>
            </div>
            
    <!-- Reviews -->
            <div class="card mt-3">
                <div class="card-header align-items-middle container-fluid">
                    <div class="row align-items-center">
                        <h5 class="float-left pl-3 m-0">Reviews</h5>
                        <% let alreadyReviewed = false; %>
                        <% campground.comments.forEach((comment) => {if (currentUser && comment.author.id.equals(currentUser._id)){ alreadyReviewed = true; }}); if (!alreadyReviewed) { %>
                            <a class="btn btn-info float-right ml-auto mr-2" href="/campgrounds/<%= campground._id %>/comments/new"><img src="/images/icons/plus-black-symbol.svg" width="15" height="15" alt=""></a>
                        <% } %>
                    </div>


                </div>
                <ul class="list-group list-group-flush">

                    <% for (let i = 0; i < campground.comments.length && i < 5; i++){ %>
                        <li class="list-group-item">
                            <h6 class="d-inline">
                                <% let comment = campground.comments[i]; %>
                                <%= comment.author.username %>
                                <span>
                                    <% for (let i = 0; i < comment.rating; i++) { %>
                                        &#9733;
                                    <% } %>
                                </span>
                            </h6>
                            <small class="float-right"><%= moment(comment.createdAt).fromNow() %></small>
                            <p class="mb-0 mt-1"><%= comment.text %></p>
                            
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            
                            <a class="btn btn-sm btn-warning"
                               href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                               Edit
                            </a>
                            <form class="delete-form"
                                  action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                  method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            
                            <% } %>
                            
                        </li>
                    <% } %>
                
                </ul>
                
                <a href="/campgrounds/<%= campground._id %>/comments/">See All Reviews</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete Campground Modal -->
<div class="modal fade " id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="deleteModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete <%= campground.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deleting this campground will permanently delete all associated data, including reviews, images, and descriptions. This action cannot be undone. Do you wish to continue?
      </div>
      <div class="modal-footer ">
          <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Cancel</button>
          <form class="delete-form text-center mr-auto" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete Campground">
          </form>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
    const lat = <%= campground.lat %>,
          long = <%= campground.long %>,
          center = {lat: lat, lng: long },
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 8,
              center: center,
              scrollwheel: false,
              streetViewControl: false,

          }),
          contentString =
              `<strong><%= campground.name %><br />
              <%= campground.location %></strong>
              <p><%= campground.description %></p>`,
          infowindow = new google.maps.InfoWindow({
              content: contentString
          }),
          marker = new google.maps.Marker({
              position: center,
              map: map
          });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCODv1xY28AoyCZZU3U2yLWirTRc6PJ3_c&callback=initMap"></script>


<% include ../partials/footer %>