<% include ../partials/header %>
<% include ../partials/navbar %>


<div id="user-profile" class="container p-0">

    <div class="row">
        <div class="col-12 jumbotron">
            <h1 class="display-4 text-center"><%= user.username %>'s Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-activity-list" data-toggle="list" href="#recent-activity" role="tab" aria-controls="recent activity">Recent Activity</a>
                <a class="list-group-item list-group-item-action" id="list-campgrounds-list" data-toggle="list" href="#list-campgrounds" role="tab" aria-controls="campgrounds">Campgrounds</a>
                <a class="list-group-item list-group-item-action" id="list-reviews-list" data-toggle="list" href="#list-reviews" role="tab" aria-controls="reviews">Reviews</a>
                <a class="list-group-item list-group-item-action" id="list-favorites-list" data-toggle="list" href="#list-favorites" role="tab" aria-controls="favorites">Favorites</a>
            </div>
        </div>

        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">

                <!-- Recent Activity -->
                <div class="tab-pane fade show active" id="recent-activity" role="tabpanel" aria-labelledby="list-activity-list">

                </div>

                <!-- User Campgrounds-->
                <div class="tab-pane fade" id="list-campgrounds" role="tabpanel" aria-labelledby="list-campgrounds-list">
                   <% campgrounds.forEach( function (campground) { %>
                            <div class="card mb-3 rounded-0 hover-shadow">
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                  <img src="<%= campground.image %>" class="card-img rounded-0" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-title"><strong><%= campground.name %></strong></h5>
                                            <div class="d-flex align-items-start text-center">
                                                <span class="">
                                                    <span id="average-rating">
                                                        <% for (let i = 0; i < campground.averageRating; i++) { %>
                                                            &#9733;
                                                        <% } %>
                                                    </span>
                                                    <small>
                                                        <% if (campground.commentCount) { %>
                                                            <a href="/campgrounds/<%= campground._id %>/comments/">
                                                        <% } %>
                                                      <%= campground.commentCount ? ` ${campground.commentCount} `: "No " %>
                                                      <%= campground.commentCount === 1 ? "Review": "Reviews" %>
                                                        <% if (campground.commentCount) { %>
                                                            </a>
                                                        <% } %>
                                                    </small>
                                                </span>
                                                <form class="favorite-form d-flex align-items-center text-center ml-2" action='/campgrounds/<%= campground._id %>/favorites'>
                                                    <input class="favorite-btn <%= (currentUser && currentUser.campFavs.includes(campground._id)) ? "favorited" : "unfavorited" %>" type="submit" value="">
                                                    <span class="ml-2 mb-1 d-flex"><small class="count"><%= campground.userFavs.length %></small></span>
                                                </form>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <% let words = campground.description.split(" "); %>
                                            <% let limit = 30; %>
                                            <% for (let i = 0; i < limit; i++) { %>
                                                <%= (i === (limit - 1) && (words.length > limit)) ? `${words[i]}...` : words[i] %>
                                            <% } %>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                      <p class="card-text"><small class="text-muted"><em>Submitted <%= moment(campground.createdAt).fromNow() %></em></small></p>
                                      <a href='/campgrounds/<%= campground._id %>' class="btn new-btn card-link px-4">Go to Campground</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                    <% }) %>
                </div>

                <!-- User Reviews -->
                <div class="tab-pane fade" id="list-reviews" role="tabpanel" aria-labelledby="list-reviews-list">

                </div>

                <!-- User Favorites -->
                <div class="tab-pane fade" id="list-favorites" role="tabpanel" aria-labelledby="list-favorites-list">

                </div>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>